:root {
    --main-color: #a5c3cb;
    --second-color:#d7dede;
    --light-gray:#eaf1f1;
    --black: #000;
    --gray: #7a7a7a;
    --white: #fff;
    --transition: all 0.3s linear;
}

section {
    padding: 2rem;

    h2 {
        text-transform: uppercase;
        color: var(--black);
        font-weight: bold;
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    &.aboutAgency {
        display: flex;
        flex-direction: column;
        height: 60vh;
        min-height: 564px;


        .div__img {
            display: flex;
            justify-content: center;
        }
    }
}

.aboutAgency {
    picture {
        width: 300px;
        height: 500px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width:992px) {
    section {

        &.aboutAgency {
            flex-direction: row;
            padding: 2rem 4rem;

            .div__txt {
                width: 70%;
                padding-right:2rem;
            }

            .div__img {
                width: 30%;
            }
        }
    }
}
