%line{
     content: "";
     height: 1px;
     background: var(--gray);
     flex: 0.9 1 auto;
}



.headingSection {
    text-transform: uppercase;
    font-size:1.6rem;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 1rem;

     &::after {
        @extend %line;
     }

     .heading--right & {
        &::before {
            @extend %line;
        }
        &::after {
            display: none;
        }
     }

     .heading--center & {
        &::before {
             @extend %line;
        }
     }
}