
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-center {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid var(--second-color);


  .nav-header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 0 20px;
  }
}

.links-container{
  font-size: 1.2rem;
  font-weight: 500;
  .links {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    a {
      color: var(--black);
      text-decoration: none;
      list-style-type: none;
      transform: var(--transition);

      &:hover{
        color: var(--white);
      }
    }
  }
}

li {
  list-style-type: none;
  margin: 20px auto;
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  transform: rotate(90deg);
}

.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

@media screen and (min-width: 1200px) {


  .nav-header {
    justify-content: space-evenly;
  }
  .nav-center, .links, .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }

  .links-container {
    display: flex;
    height: auto !important;
    a {
      margin: 0 20px;
    }
  }
  .nav-toggle {
    display: none;
  }

  .social-icons {
    a {
      margin: 0 8px;
      color: var(--black);
    }
    svg {
      fill: currentColor;
      transform: var(--transition);
      
      &:hover {
        color: var(--white);
      }
    }

  }
}


