.portfolio {
    margin: 0;
    padding: 0;
    width: 100%;
}
.portfolio__images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // width: 100wh;
    // max-width: 1400px;
    justify-content: center;


    .portfolio__img {
        width: 50%;

        &:not(.portfolio__img--first) {
            aspect-ratio: 1/1;
        }

        &.portfolio__img--first {
            width: 100%;
            padding: 2rem;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .portfolio__img--first, .portfolio__img--last {
        background-color: var(--light-gray);
    }

    .portfolio__img--last {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        text-transform: uppercase;
        color: var(--black);
        font-weight: bold;
        // font-size: 1.6rem;
        font-size: clamp(1.25rem, 2vw, 1.6rem);
        margin-top: 0.5rem;
    }
}

@media screen and (min-width:864px) {
    .portfolio__images {
         .portfolio__img--first {
             width: calc(100% / 2);
         }
    }
}

@media screen and (min-width:992px) {
    
    .portfolio__images {
        .portfolio__img {
            width: calc(100% / 4);
            // height: calc(100vw / 4);
            &:not(.portfolio__img--first) {
                aspect-ratio: 1/1;
            }

            &.portfolio__img--first {
                width: calc(100% / 2);
            }
        }
         
    }
}